/*this is the file used for styling*/


head, h1{
	color:#777777;
	text-shadow:0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #333333;
}

body{
	min-height: 100%;
    background-color: #333333;
    margin-left: 10px;
    margin-right: 10px;
	}


.panel.panel-body{
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

label{
	color:white;
}

input[type=button]{
     border-top: 1px solid #EEE;
     background: #666;
     padding: 3.5px 7px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
     -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
     box-shadow: rgba(0,0,0,1) 0 1px 0;
     color: white;
     font-size: 13px;
     text-decoration: none;
     vertical-align: middle;
}